.root {
  position: relative;

}
.input {
  font-size: 16px;
  width: 320px;
  padding: 10px 10px;
  border: 1px solid rgb(156, 156, 156);
  opacity: 0.6;
  border-radius: 8px;
  padding-left: 30px;
  // font-weight: 600;
  // font-style: medium;
  // box-shadow: 13px 13px 21px -4px rgba(230,223,230,1);

  &:focus {
    border: 1.8px solid rgb(0, 0, 0);
    opacity: 1;
   
  }

  @media (max-width: 550px) {

    width: 200px;
    // width: 400px;
  }

}
.serchIcon {
  opacity: 0.8;
  position: absolute;
  left: 10px;
  top: 14px;
}
.closeIcon {
  color: red($color: #000000);
  opacity: 0.6;
  position: absolute;
  right: 12px;
  top: 14px;
  &:hover {
    opacity: 1;
  }
}
